# marketing_data_set

## Data preparation

In [1]:
# Libraries

In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
# Bring data

In [4]:
df = pd.read_csv(r"C:\Users\P0032697\Desktop\Job search\London bike sharing analysis\london_merged.csv")
df.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,1/4/2015 0:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,1/4/2015 1:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,1/4/2015 2:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,1/4/2015 3:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,1/4/2015 4:00,47,2.0,0.0,93.0,6.5,1,0,1,3

In [5]:
# Understanding the data

In [6]:
print(f'the data frame has {df.shape[0]} row over {df.shape[1]} columns')

the data frame has 17414 row over 10 columns

In [7]:
# Sampling data Scource

In [8]:
df.sample(2)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
2938,5/6/2015 18:00,3006,14.0,14.0,65.0,37.0,2,0,0,0
16925,12/14/2016 15:00,1313,13.0,13.0,69.5,17.0,1,0,0,3

In [9]:
# Data dictionary

In [10]:
'''



'''

'\n\n\n\n'

### Cleanup of the data

In [11]:
# Null values
# As we see, the dataset contains many null values

In [12]:
df.isnull().sum()

timestamp       0
cnt             0
t1              0
t2              0
hum             0
wind_speed      0
weather_code    0
is_holiday      0
is_weekend      0
season          0
dtype: int64

In [13]:
# As we see there are no NULL values in our dataset

In [14]:
# Let's make sure there are no negative values in Wind speed, Humidity, weather_code columns

In [15]:
negative_wind_speed_filter = df['wind_speed'] < 0
negative_hum_filter = df['hum'] < 0
negative_weather_code_filter = df['weather_code'] < 0

df2 = df[negative_wind_speed_filter] | df[negative_hum_filter] | df[negative_weather_code_filter]
df2

Empty DataFrame
Columns: [timestamp, cnt, t1, t2, hum, wind_speed, weather_code, is_holiday, is_weekend, season]
Index: []

In [16]:
# As we see, there are no negative values in these 3 measure columns. Therefore no need to remove these rows

### Data types validation

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  int64
 7   is_holiday    17414 non-null  int64
 8   is_weekend    17414 non-null  int64
 9   season        17414 non-null  int64
dtypes: float64(4), int64(5), object(1)
memory usage: 1.3+ MB

In [18]:
# AS we see, timestamp is OBJECT type. This is not good. Let's change the data type of this column.

In [19]:
df['timestamp'] = pd.to_datetime(df['timestamp'])

In [20]:
# Now, let's have a look at duplicate rows

In [21]:
# Rows in our dataset
print(len(df))

17414

In [22]:
# Unique values we have in our data set
df.nunique()

timestamp       17414
cnt              3781
t1                 73
t2                 82
hum               143
wind_speed        103
weather_code        7
is_holiday          2
is_weekend          2
season              4
dtype: int64

In [23]:
# As seen, there is no need to allocate duplicate rows.

In [24]:
df[df.duplicated]

Empty DataFrame
Columns: [timestamp, cnt, t1, t2, hum, wind_speed, weather_code, is_holiday, is_weekend, season]
Index: []

In [25]:
# Cool !!! 
# No duplicate rows

In [26]:
# Let's check out distinct values for weather_code & season

In [27]:
df.weather_code.value_counts()

weather_code
1     6150
2     4034
3     3551
7     2141
4     1464
26      60
10      14
Name: count, dtype: int64

In [28]:
df.season.value_counts()

season
0    4394
1    4387
3    4330
2    4303
Name: count, dtype: int64

In [29]:
# Now, let's rename our columns to more meaningful & readable column names.

In [30]:
new_col_name_dict = {
    "timestamp" : "time",
    "cnt" : "count",
    "t1" : "temp_real_C",
    "t2" : "temp_feels_like_C",
    "hum": "humidity_percent",
    "wind_speed" : "wind_speed_kph",
    "weather_code" : "weather",
    "is_holiday" : "is_holday",
    "is_weekend" : "is_weekend",
    "season" : "season"
}

df.rename(new_col_name_dict, axis = 1, inplace = True)
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3,0,1,3
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1,0,1,3
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1,0,1,3
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1,0,1,3
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1,0,1,3

In [31]:
# changing the humidity values to percentage (i.e. a value between 0 and 1)
df.humidity_percent = df.humidity_percent / 100

In [32]:
df['season'].head(10)

0    3
1    3
2    3
3    3
4    3
5    3
6    3
7    3
8    3
9    3
Name: season, dtype: int64

In [33]:
# creating a season dictionary so that we can map the integers 0-3 to the actual written values
season_dict = {
    '0':'spring',
    '1':'summer',
    '2':'autumn',
    '3':'winter'
}

# creating a weather dictionary so that we can map the integers to the actual written values
weather_dict = {
    '1':'Clear',
    '2':'Scattered clouds',
    '3':'Broken clouds',
    '4':'Cloudy',
    '7':'Rain',
    '10':'Rain with thunderstorm',
    '26':'Snowfall'
}

In [34]:
# changing the seasons column data type to string
df.season = df.season.astype('str')

In [35]:
# mapping the values 0-3 to the actual written seasons
df.season = df.season.map(season_dict)

In [36]:
# changing the weather column data type to string
df.weather = df.weather.astype('str')

In [37]:
# mapping the values to the actual written weathers
df.weather = df.weather.map(weather_dict)

In [38]:
df.head()

,time,count,temp_real_C,temp_feels_like_C,humidity_percent,wind_speed_kph,weather,is_holday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0,1,winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0,1,winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0,1,winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0,1,winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0,1,winter

In [39]:
# Export data set to CSV file

In [40]:
df.to_excel(r'C:\Users\P0032697\Desktop\Job search\London bike sharing analysis\london_bikes_final.xlsx', sheet_name = 'london_bikes')